/* 
**RULE KEY**:
=======
Size
Display
Flex rules
Color
Margin
Border
Padding
Font
Text
Misc */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(43, 170, 243, 0.548);
  font-family: sans-serif;
}

main {
  height: 100%;
  max-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: -10;
}

.nav-bar {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: sticky;
  background-color: rgb(253, 253, 253);
  /* margin-bottom: 10px; */
  border-bottom: 4px solid rgba(255, 166, 0, 0.938);
  padding-bottom: 10px;
  overflow: hidden;
}

.nav-bar.expand {
  height: 220px;
}

.logo {
  height: 68px;
  width: 129.2px;
  margin-top: 15px;
  margin-left: 8px;
}

.nav-section {
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 10px;
}

.nav-links {
  height: 30px;
  width: 175px;
  display: flex;
  padding-top: 3px;
  font-size: 18px;
}

.mobile-left {
  height: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 5px;
}

.home-container,
.staff-nav-container,
.real-estate-container {
  height: 35px;
  display: flex;
}

.icon {
  height: 30px;
  width: 40px;
}

.user {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
  border: none;
  padding-bottom: 10px;
}

.avatar {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.section-header {
  color: rgb(253, 253, 253);
  padding: 10px 5px;
}

.staff-cards {
  height: 608px;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 4px solid rgba(255, 166, 0, 0.938);
  border-radius: 5px;
}

.engage {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.engageButton {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: rgba(253, 253, 253, 0.5);
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.engageButton:hover {
  background-color: rgba(253, 253, 253, 1);
}

.engageButton.right {
  transform: translate(552%, 30%);
}

.engageButton.left {
  transform: translate(25%, 30%);
}

.card-photo {
  height: 218;
  width: 336px;
  z-index: -1;
}

.overlay {
  height: 218px;
  width: 332px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.24);
}

.about-me {
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(253, 253, 253);
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 7px;
}

.bonus-text {
  font-size: 1.5em;
}

.list {
  list-style-type: none;
}

.click {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100%;
  }

  .staff-container {
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
  }

  .staff-cards {
    /* display: inline-block; */
    /* align-content: center; */
    /* justify-content: center; */
    /* margin: 0px 0px 20px; */

    /* margin: 0 auto; */
  }

  @media only screen and (min-width: 1024px) {
    .logo {
      margin: 0;
      margin-bottom: 12px;
      margin-left: 10px;
    }

    .nav-section {
      height: 30px;
      width: 650px;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 50px;
      margin-left: 10px;
    }

    .mobile-left {
      flex-direction: row;
      align-items: flex-end;
    }

    #home {
      width: 100px;
    }

    #realEstateDev {
      width: 220px;
    }

    .icon {
      height: 40px;
      width: 50px;
      padding-bottom: 10px;
    }

    .user {
      margin-right: 15px;
    }

    .staff-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .staff-cards {
      height: 450px;
      width: 280px;
    }

    .card-photo {
      height: 161px;
      width: 275px;
      z-index: -1;
    }

    .overlay {
      height: 161px;
      width: 271px;
    }

    .about-me {
      height: 281px;
      font-size: 0.75em;
    }

    .engageButton {
      height: 45px;
      width: 45px;
    }

    .engageButton.right {
      transform: translate(490%, 30%);
    }

    .engageButton.left {
      transform: translate(20%, 30%);
    }
  }
}
